// Main
$background-header: #f4f4f4;
// Footer
$background-footer: #f76c6c;
// Typographie
$footer-text-color: white;
$member-text-color: red;
// Button
$btn-add-color: #f76c6c;
$btn-color-text: black;
$btn-shadow-color: black;
// Name list
$name-background: #f76c6c;
$name-text-color: white;
$coulour-shadow-name: #26394d;
