<script setup>
defineProps({
  footer: {
    type: String,
    required: true,
  },
});
</script>
<template>
  <footer
    class="container-footer container-footer__element container-footer__element--modifier"
  >
    <p>{{ footer }}</p>
  </footer>
</template>

<style scoped lang="scss">
.container-footer {
  margin-top: 2em;
  padding: 0.25em 0;
  background: $footer-container-color;
  &__element {
    text-align: center;
    &--modifier {
      color: $text-color;
    }
  }
}
</style>
