<script setup>
import { defineProps, ref, watch, onMounted } from "vue";
defineProps({
  Argonaute: { type: String, required: true },
});
const emit = defineEmits(["addMember"]);
const memberName = ref("");
const memberSexe = ref("homme");
const memberAge = ref("");
watch(memberName, (watchedValue) => {
  localStorage.setItem("member", watchedValue);
});

onMounted(() => {
  memberName.value = localStorage.getItem("member" || "");
});

const addMember = () => {
  let memberValues = {memberName: memberName.value, memberSexe: memberSexe.value, memberAge: memberAge.value}  
  emit("addMember", memberValues);
  memberName.value = "";
  memberAge.value = "";
};
</script>
<template>
  <form class="member-form-container member-form-container__element">
    <div class="add-container">
      <div class="add-name">
        <label for="addName" class="label-name">{{ Argonaute }}</label>
        <input
          type="text"
          class="inputName"
          placeholder="Charlampos"
          v-model="memberName"
        />
      </div>
      <div class="sexeAndAge-container">
        <div class="sexe-container">
          <label for="sexe">Sexe de l'Argonaute:</label>
          <div>
              <select name="sexe" id:="sexe" v-model="memberSexe">
              <option value="homme">Un homme</option>
              <option value="femme">Une femme</option>
              <option value="autres">Autres</option>
            </select>
          </div>
        </div>
        <div class="age-container">
          <label for="age">L'age de l'Argonaute:</label>
          <div><input type="number" id="age" name="age" min="18" max="120" placeholder="Minimum 18 ans" v-model="memberAge"></div>
        </div>
      </div>
      <button type="submit" value="submit" class="button-add button-add__element button-add__element--modifier" @click.prevent="addMember">
        Ajouter un membre
      </button>
    </div>
  </form>
</template>

<style scoped lang="scss">
.member-form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &__element{
    margin: 1em 0 4em 0;
    text-align: center;
  }
}
.add-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .inputName {
    border-radius: 7px;
    margin: 1rem 0 1rem 0;
    padding: 0px 0px 0px 0.2rem;
  }
  .add-name{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  label{
    padding: 0 0 1rem 1rem;
  }
  .label-name{
    padding: 0 0 0 0;
  }
  .sexeAndAge-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .sexe-container{
      display: flex;
      flex: row;
      flex-wrap: wrap;
      label{
        margin: 0px 1rem 0 0px;
      }
    }
    .age-container{
      display: flex;
      flex: row;
      flex-wrap: wrap;
      label{
        margin: 0px 1rem 0 0px;
      }
    }
  }
}

.button-add {
  padding: 0 1rem;
  margin: 0rem 0rem 1.5rem 1rem;
  border-radius: 10px;
  @include box-shadow-add;
  &__element{
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    cursor: pointer;
    &--modifier{
      color: white;
      background-color: $button-background-color;
    }
    &:hover {
      opacity: 0.8;
    }
    &:active {
      box-shadow: black 2px 2px 0 0;
      transform: translate(2px, 2px);
    }
  }  
}
</style>
