<script setup>
import imageWCS from "../assets/Wild-Code-School-logo.png";
defineProps({
  title: {
    type: String,
    required: true,
  },
});
</script>
<template>
  <header>
    <h1>
      <img :src="imageWCS" alt="Wild Code School logo" />
      {{ title }}
    </h1>
  </header>
</template>

<style scoped lang="scss">
img {
  max-width: 96px;
}

h1 {
  font-size: 2.5em;
}
</style>
