<script setup>
import Form from "./Form.vue";
import Member from "./Member.vue";

import apiClient from "@/utils/ApiClient";

import { ref, watch } from "vue";

let aujourdhui = new Date().getTime();

const crewArray = ref([{ name: "", sexe: "", age: 0, createdAt: aujourdhui }]);

crewArray.value = JSON.parse(localStorage.getItem("crewArray")) || [];

// Methods creation et get
const addMember = (memberValues) => {
  let memberNameValues = memberValues.memberName;
  let memberAgeValues = memberValues.memberAge;
  let memberSexeValues = memberValues.memberSexe;
  console.log(
    "memberValues",
    memberNameValues,
    memberAgeValues,
    memberSexeValues
  );
  if (
    memberNameValues.trim() === "" ||
    memberSexeValues === "" ||
    memberAgeValues === "" ||
    memberAgeValues < 18 ||
    memberAgeValues > 100
  )
    return alert("Il vous manque le nom, le sexe ou l'age de l'Argonaute!");

  // Add to backend mongoDB
  apiClient.post("/api/member/", {
    membre: memberNameValues.trim(),
    sexe: memberSexeValues,
    age: memberAgeValues,
    date: aujourdhui,
  });

  apiClient.get("/api/member/", {
    membre: memberNameValues.trim(),
    sexe: memberSexeValues,
    age: memberAgeValues,
    date: aujourdhui,
  });

  // Add member to the front-end
  crewArray.value.push({
    name: memberNameValues.trim(),
    sexe: memberSexeValues,
    age: memberAgeValues,
    createdAt: aujourdhui,
  });
  crewArray.value.reverse();
};

watch(
  crewArray,
  (newVal) => {
    localStorage.setItem("crewArray", JSON.stringify(newVal));
  },
  {
    deep: true,
  }
);
</script>

<template>
  <div>
    <h2 class="title">Add an Argonaut</h2>
    <!-- form 2 ici -->
    <Form Argonaute="Nom de l'Argonaute" @add-member="addMember"></Form>
    <!-- Member list -->
    <section class="container container__element container__element--modifier">
      <div class="member-container">
        <h2>Membres de l'équipage</h2>
        <ul class="member-list-container member-list-container__element">
          <Member
            v-for="crewMember in crewArray"
            :key="crewMember.id"
            :member="crewMember"
          />
        </ul>
      </div>
    </section>
  </div>
</template>

<style scoped lang="scss">
.title {
  padding: 2rem 0 0 0;
}
.container {
  display: flex;
  flex-direction: column;
  &__element {
    padding: 2rem 0 2rem 0;
    align-items: center;
    &--modifier {
      background-color: $main-container-background-color;
    }
  }
  .member-container {
    max-width: 60rem;
  }
  .member-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__element {
      justify-content: space-evenly;
      list-style-type: none;
    }
  }
}
</style>
