<script setup>
defineProps({
  member: { type: Object, required: true },
});
</script>
<template>
  <li
    class="container-member container-member__element container-member__element--modifier"
  >
    <div>Name: {{ member.name }}</div>
    <div>sexe: {{ member.sexe }}</div>
    <div>L'age: {{ member.age }}</div>
  </li>
</template>

<style scoped lang="scss">
.container-member {
  @include member-container;
  &__element {
    text-align: center;
    list-style-type: none;
    &--modifier {
      background-color: $member-container-color;
      color: $text-color;
    }
    div {
      @include separator-line;
    }
    div:last-child {
      border-bottom: none;
    }
  }
}
</style>
