// member container
// Color
$member-container-color: #f76c6c;
$text-color: white;
$box-shadow-member: #26394d 0px 20px 30px -10px;
@mixin member-container {
  margin: 2em 1rem 2em 1rem;
  line-height: 3em;
  border-radius: 10px;
  box-shadow: $box-shadow-member;
  padding: 0em 5em;
}
$separator-line: 0.1px solid grey;
@mixin separator-line {
  border-bottom: $separator-line;
  text-align: left;
}

// Button add
$button-background-color: #fa8484;
$box-shadow-button-color: #585555; 
@mixin box-shadow-add {
    box-shadow: $box-shadow-button-color 4px 4px 0 0;    ;
}

// Main
$main-container-background-color: #f4f4f480;

//footer
$footer-container-color: #f76c6c;

